@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
.gallery-heading {
  border-bottom: 1px solid rgb(41, 38, 38);
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  padding-top: 3rem;
  color: #F4C430;
  text-shadow: 2px 2px 2px #03174f;
  font-size: 2.2rem;
}
.gallery-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 2rem 1rem;
  }
  
  .grid-item {
    background-color: #3498db;
    height: 15rem;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 5px grey;
    border-radius: 8px;
  }
  .grid-item img {
    width: 100%;
    border-radius: 8px;
    height: 15rem;
  }
  
  .grid-item:hover {
    cursor: pointer;
  }
  