.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  /* background-image: url('../images/blue-waves-abstract-background-01h9884qxazbjhe39gsa4vx87b_preview.jpg');
  background-repeat: no-repeat;
  background-size: 80rem 35rem; */
}

.data-box {
  display: flex;
}
.data {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 1rem 3rem;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  background-color: #c9d7ffaf;
  box-shadow: 5px 5px 10px #c9d7ffaf;
  /* border-radius: 1.5rem; */
}
.heading {
  /* font-size: 70px;
   */
}
.data:hover {
  background-color: #c9d7ff;
  box-shadow: 5px 5px 10px #c9d7ff;
  transform: scale(1.1);
  cursor: pointer;
}
.figure {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
.topic {
  font-size: 1.2rem;
  font-weight: 500;
}
