.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  /* background-image: url('../images/blue-brush-stroke-watercolor-design_1035-21670.avif'); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

.data-box {
  display: flex;
}
.data {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 1rem 3rem;
  justify-content: center;
  align-items: center;
  min-width: 14rem;
  background-color: gold;
  box-shadow: 5px 5px 10px gold;
  /* border-radius: 1.5rem; */
}
.grid-main-heading{
  border-bottom: 1px solid rgb(41, 38, 38);
  font-family: "Montserrat", sans-serif;
  padding: 1rem 0rem;
  font-style: 2rem;
  font-weight: bold;
  color: rgb(41, 36, 36);
  font-size: 2.2rem;
  text-align: center;
}
.data:hover {
  background-color: gold;
  box-shadow: 5px 5px 10px gold;
  transform: scale(1.1);
  cursor: pointer;
}
.figure {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
.topic {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 1080px) {
  .data-box{
    flex-direction: column;
  }
  .grid-main-heading{
    font-size: 1.5rem;
  }
}