.key_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.key_heading {
  border-bottom: 1px solid rgb(41, 38, 38);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  padding-top: 3rem;
  /* color: rgb(41, 36, 36);
     */
  color: gold;
  font-size: 2.2rem;
  margin: auto;
  width: 25%;
  text-align: center;
  text-shadow: 2px 2px 2px #03174f;
}
@media screen and (max-width: 700px) {
  .key_main {
    padding: 4rem;
  }
  .about_heading {
    font-size: 1.5rem;
    text-align: center;
    max-width: 90%;
  }
}
