.outer {
  /* display: flex;
  flex-direction: column; */
  background-color: rgba(202, 202, 202, 0.463);
  margin: 4rem;
  border-radius: 2rem;
  min-height: 25rem;
  justify-content: center;
}
.inner2 {
  /* width: 60%; */
  padding: 3rem 1rem 3rem 2rem;
  font-style: oblique;
}
.inner1 {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}
.vcsir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.vcsir_image {
  margin: 1rem;
}
.vcsir_name {
  font-size: x-large;
  color: #03174F;
  font-weight: bolder;
}
.vcsir_intro {
}
