.outer-msg-container {
  /* display: flex;
  flex-direction: column; */
  background-color: gold;
  margin: 4rem;
  /* border-radius: 2rem; */
  min-height: 25rem;
  justify-content: center;
  box-shadow: 5px 5px 10px gold;
}
.inner2 {
  /* width: 60%; */
  padding: 3rem 1rem 3rem 2rem;
  font-style: oblique;
  font-size: small;
}
.inner1 {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}
.vcsir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.vcsir_image {
  /* border: 2px solid #03174F; */
  margin: 1rem;
  /* padding: 1rem; */
}
.vcsir-msg-img {
  width: 10rem;

}
.vcsir_name {
  font-size: large;
  color: #03174F;
  font-weight: bolder;
}
