/* top-heading */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed:wght@400;700&display=swap');
.parent {
  background-color: #fff;
  position: sticky;
}

.top-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-bottom: 4px solid #03174F; */
  /* background-image: url("../images/heading_image.jpeg");
  background-size: contain; */
  /* background-repeat: no-repeat; */
  color: white;
  background-color: #03174f;
}

#bu_name_first{
  font-family: 'Playfair Display', serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
}
#bu_name_second{
  font-family: 'Playfair Display', serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
}
#bu_name_third{
  font-family: 'Playfair Display', serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
}
.bu_name {
  font-size: 2.5em;
  align-self: center;
  font-weight: bolder;
  
  display: flex;
  gap: 1rem;
}
.bu_details{
  display: flex;
  justify-content: center;
  width: 76%;
  margin: auto;
  border-top: 1px solid rgb(255, 255, 255);
}
/* bu-tec */

.bu-tec {
  /* height: 3.5rem; */
  display: flex;
  justify-content: space-between;
  background-color: gold;
}
.bu-tec-1 {
  display: flex;
}
.bu-tec-1-details{
  font-family: 'Playfair Display', serif;
  align-self: center;
  font-size: large;
  font-weight:bolder;
}
.logo1 img{
  height: 3rem;
  align-self: center;
}
.bu-tec-2 {
  display: flex;
}
.bu-tec-2-details{
  font-family: 'Playfair Display', serif;
  align-self: center;
  font-size: large;
  font-weight: bolder;
  margin-right: 1rem;
}
.logo2 img{
  align-self: center;
  height: 3rem;
}
.logo2{
  margin: 0.25rem 0.5rem;
}
.logo1{
  margin: 0.25rem 0.5rem;

}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .bu_name {
    /* flex-direction: column; */
    overflow-x: hidden;
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }
  .bu_details {
    font-size: 10px;
    width: 90%;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .bu-tec{
    padding-bottom: 0.3rem;
  }
  .bu-tec-1 {
    align-items: left;
    flex-direction: column;
  }
  .bu-tec-2 {
    flex-direction: column;
    align-items: center;
  }
  
  .logo1 img{
    width: 12em;
    margin: 0rem;
  }
  .logo2 img{
    /* width: 8rem; */
    margin: 0rem;
  }
  .logo1{
    margin-bottom: 0rem;
  }
  .logo2{
    margin-bottom: 0rem;
  }
  .bu-tec-1-details {
    font-size: 13px;
  } 
  .bu-tec-2-details {
    font-size: 13px;
  } 
}

