/* top-heading */
.parent{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    /* z-index: 1000; */
    background-color: #fff;
}

.top-heading {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 4px solid #03174F; */
  }
  
  .logo-1 {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    align-self: center;
  }
  .logo-1 img {
    height: 5rem;
  }
  .logo-2 img {
    height: 6rem;
  }
  .logo-2 {
    padding: 0.5rem;
    padding-right: 1.5rem;
    align-self: center;

  }
  
    
  .bu_name{
    font-size: 3rem;
    align-self: center;
    font-weight: bolder;
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
  }
  
  
  
  
  
  /* bu-tec */
  
  .bu-tec{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: gold;
  }
  .bu-tec-1{
    font-size: xx-large;
    padding: 0 1rem;
    font-weight: bolder;
    align-self: center;
    font-family:'Courier New', Courier, monospace;
  }

  a {
    text-decoration: none;
  }
  
  
  /* navbar */
  
  .outer-navbar {
    display: flex;
    justify-content: space-between;
    height: 3rem;
  }
  .inner-navbar {
    background-color: #03174F; /* Blue shade background color */
    display: flex; /* Arrange items horizontally */
    border-top-left-radius: 4rem;
    box-shadow: 10px 10px 20px #03174F;
  }
  .navbar-items {
    list-style: none; /* Remove default list styles */
    padding: 0;
    display: flex; /* Arrange items horizontally */
  }
  
  .navbar-item {
    text-decoration: none;
    margin: 0 1.3rem; /* Add spacing between items (adjust as needed) */
    color: white; /* Text color for the items */
  }

  .navbar-item:hover {
    cursor: pointer;
    text-shadow: 2px 2px 8px white;
    /* transform: scale(1.2);  */
  }

  .social-handles{
    display: flex;
    flex-direction: row;
  }
  .social-handle{
    align-self: center;
    padding: 1rem;
    padding-top: 1.5rem;
  }
  
  /* Dropdown styling */
.dropdown {
  display: none;
  position: absolute;
  margin-top: 0.2rem;
  /* width: rem; */
  /* top: 100%; */
  /* left: 40rem; */
  /* left: 0;S */
  background-color: gold; /* Set dropdown background color */
  
  padding: 10px;
  z-index: 1;
}
/* .dropdown:hover{
  display: block;
} */
/* .navbar-item:hover .dropdown {
  display: block;
} */

/* Style for dropdown items */
.dropdown-item {
  /* padding: 5px 0; */
  color: black; /* Set dropdown text color */
  text-decoration: none;
  margin: 0.5rem;
  display: block;
  font-size: large;
  /* font-style: oblique; */
  /* border-bottom: 2px solid white; */
}
.dropdown-item a {
  text-decoration: none;
}
