@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');




.our-leader{
    width: 100%;
}

.vcsir1 img{
    width: 80%;
    height: 100%;
    
    
}

.our-leader-heading{
    border-bottom: 1px solid rgb(41, 38, 38);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  padding-top: 3rem;
  /* color: rgb(41, 36, 36);
   */
   color: gold;
  font-size: 2.2rem;
  margin: auto;
  width: 25%;
  text-align: center;
    
}

.vcsir1{
    display: flex;
    gap:2rem;
    
    
    
}
 
.vcsir1-logo{
    margin:4rem ;
    align-self: center;
    width: 30%;
}

.vcsir1-logo img{
    width: 30rem;
    
}


.vcsir1-title{
    text-align: center;
}

.vcsir1-title h4{
    margin-top: -1rem;
}

.vcsir1-content{
    background-color: #03174F ;
    color: white;
    padding: 2rem;
    width: 60%;
    margin: 4rem;
    box-shadow: 5px 5px 10px #03174F;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    
}
.vcsir1-content p{
    text-align: justify;
}