@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');




.our-leader{
    width: 100%;
}

.our-leader-heading{
    border-bottom: 1px solid rgb(41, 38, 38);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  padding-top: 3rem;
  /* color: rgb(41, 36, 36);
   */
   color: gold;
  font-size: 2.2rem;
  margin: auto;
  width: 25%;
  text-align: center;
  text-shadow: 2px 2px 2px #03174f;

    
}

.vcsir1{
    display: flex;
    gap:2rem;
    
    
    
}
 
.officials-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.other_officials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.fo_bu {
    width: 40%;
}
.fo_bu img{
    width: 100%;
}
.registrar_bu{
    width: 40%;
}
.registrar_bu img{
    width: 100%;
}
.vc-sir_image {
    width: 90%;
}
.vc-sir_image img{
    width: 100%;
}


.vcsir1-title{
    text-align: center;
}

.vcsir1-title h4{
    margin-top: -1rem;
}
 .lavsir-logo {
    width: 30%;
    align-self: center;
    padding:1rem;
 }
 .lavsir-logo img{
    width: 100%;
 }
.vcsir1-content{
    background-color: #03174F ;
    color: white;
    padding: 2rem;
    width: 60%;
    margin: 4rem;
    margin-left: 0rem;
    box-shadow: 5px 5px 10px #03174F;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}
.vcsir1-content p{
    text-align: justify;
}