@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.partners-main-container {
  margin-bottom: 2rem;
  padding-top: 3rem;
}
.partners-heading {
  width: 25%;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid rgb(41, 38, 38);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  color: #f4c430;
  text-shadow: 2px 2px 2px #03174f;
  font-size: 2.2rem;
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  /* text-align: center; */
}
.partner-logo {
  width: 25%;
  display: flex;
  /* box-shadow: 5px 5px 10px grey; */
  justify-content: center;
  align-self: center;
  margin-top: 5rem;
}
.partner-logo img {
  width: 50%;
  /* margin-top: 6rem;
    margin-left: 3rem; */
}
.partner-detail {
  width: 70%;
}
.partner-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.partner-content {
  background-color: #03174f;
  color: white;
  padding: 2rem;
}

.partner-content{
    background-color:#03174F ;
    color: white;
    padding: 2rem;
    position: relative;
    
    box-shadow: 5px 5px 10px #03174F;
    /* width: 60%; */
}

.partner-link{
    position: absolute;
  top: 1rem;
    right: 1rem;
}
    

