@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.patents2-main-heading {
    border-bottom: 1px solid rgb(41, 38, 38);
    font-family: "Montserrat", sans-serif;
    padding-bottom: 1rem;
    font-size: 2.2rem;
    color: #F4C430;
    text-align: center;
    max-width: 90%;
    text-shadow: 2px 2px 2px #03174f;
}
.outer-patents2-container{
    font-size: 1.1667rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem 0rem 2rem 0rem;
}
.patents2-container{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    /* padding: 1rem; */
    gap: 3rem;
    width: 80%;
    margin: 1rem;
    box-shadow: 2px 2px 5px grey;
    padding: 1rem;
    border-radius: 8px;
}
.patents2-image{
    width: 30%;
}
.patents2-image img{
    width: 100%;
}
.patents2-content {
    width: 70%;
}
.patents2-title {
    color: #03174f;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.patents2-inner-content{
    font-weight: lighter;
    text-align: justify;
}
.patents2-developed-by {
    display: flex;
    gap: 0.5rem;
}
.see_more{
    color: rgb(0, 183, 255);
    margin-right: -89%;
    margin-top: 1rem;
}
.see_more:hover{
    cursor: pointer;
}