@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.Tec-top-image img {
  width: 100%;
}

.Tec-image-container img {
  width: 100%;
}

#Tec-partners-heading {
  border-bottom: 1px solid rgb(41, 38, 38);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  padding-top: 3rem;
  font-size: 2.2rem;
  color: #f4c430;
  text-shadow: 2px 2px 2px #03174f;
  text-align: center;
  margin: auto;
  width: 30%;
}

.Tec-container {
  margin: 2rem;
}

.tec-grid-container {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.tec-grid-cell {
  /* width: 30%; */
  width: 90%;
  display: flex;
  gap: 1rem;
  min-height: 15rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgb(201, 190, 126);
  padding: 0.5rem;
}
.tec-grid-cell img {
  width: 80%;
}

.tec-grid-cell a {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}


@media screen and (max-width: 1200px) {
  .tec-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #Tec-partners-heading {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .tec-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #Tec-partners-heading {
    font-size: 1.5rem;
    width: 65%;
  }
}
