@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.Tec-top-image img {
  width: 100%;
}

.Tec-image-container img {
  width: 100%;
}

#Tec-partners-heading {
  border-bottom: 1px solid rgb(41, 38, 38);
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1rem;
  padding-top: 3rem;
  font-size: 2.2rem;
  color: #f4c430;
  text-shadow: 2px 2px 2px #03174f;
  text-align: center;
  margin: auto;
  width: 30%;
}

.Tec-container {
  margin: 2rem;
  width: 95%;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.part-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  box-shadow: 2px 2px 5px grey;

  margin: 2rem;
  width: 28%;
  min-width: 28%;
  align-items: center;
}
.part-1:hover {
  /* transform: scale(1.1); */
  box-shadow: 5px 5px 10px grey;
}

.part-1 img {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  /* margin: 2rem; */
}
.part-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  box-shadow: 2px 2px 5px grey;

  margin: 2rem;
  width: 28%;
  min-width: 28%;

  align-items: center;
}
.part-2:hover {
  /* transform: scale(1.1); */
  box-shadow: 5px 5px 10px grey;
}
.part-2 img {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
}

.part-3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  box-shadow: 2px 2px 5px grey;
  margin: 2rem;
  width: 28%;
  min-width: 28%;

  justify-content: center;
  align-items: center;
}
.part-3:hover {
  /* transform: scale(1.1); */
  box-shadow: 5px 5px 10px grey;
}
.part-3 img {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
}
.row a {
  font-weight: bold;
  margin-bottom: 1rem;
}

.last-tec-1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 2px 2px 5px grey;
  width: 30%;
  min-width: 30%;
  align-items: center;
}

.last-tec-1 a {
  font-weight: bold;
  margin-bottom: 1rem;
}

.last-tec img {
  width: 13rem;
  height: 13rem;
}
